@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: transparent; /* Highlight background color */
  color: greenyellow; /* Text color for better contrast */
}

* {
  -webkit-user-select: text; /* Allow text selection */
  margin: 0;
  padding: 0;
  /* background-color: green; */
}